.container-AboutPage {
  width: 100%;
  background-image: url(../../assets/images/bgr_cf_aboutt.png);
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  padding-top: var(--header-height);
  height: 100vh;
  .img-about {
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      border: none;
      border: 5px solid rgb(255, 255, 255, 0.9);
      border-radius: 5px;
      box-shadow: 0 0 0 5px rgb(255, 255, 255, 0.3),
        /* Border bên ngoài */ 0 8px 22px rgba(255, 255, 255, 0.4); /* Bóng nội */
      margin-top: -100px;
    }
  }
  .content-about {
    width: 50%;
    padding-right: 25%;
    h2 {
      margin: 50px 0 40px 0;
    }
    p {
      font-size: 18px;
    }
    button {
      margin-top: 30px;
      font-size: 18px;
      background-color: #2f2105;
      color: #f4ae26;
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        background-color: #534831;
        transition: background-color 0.3s ease;
      }
    }
  }
}
