<head>
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    <a href="/">
      <h3>User page</h3>
    </a>
    <h2>ADD User</h2>
    <form action="/" method="POST">
      <div class="form-group">
        <label>Gmail</label>
        <input class="form-control" type="email" name="userEmail" />
      </div>
      <div class="form-group">
        <label>User Name</label>
        <input class="form-control" type="text" name="userName" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="userPassword" />
      </div>
  </div>
  <input id="add-btn" class="btn btn-primary" type="submit" value="ADD USER" />
  </form>
  </div>
</body>